body{
    margin: 0;
    padding: 0;
}

/* Setting up margin to complete page */
.main-container{
    margin: .7rem;
    /* filter:opacity(0.5);
    filter:blur(4px); */
}

/* For header width */
.row{
    margin:0
}

/* Changing the alignment of Addressbook title with respect to logo */
h2{
    margin:0px;
    padding-top: 4px;
}

/* Changing look and feel of create button */
.contact-search{
    place-content: center;
}

#searchbox{
    width: 28rem;
    margin-right: .3em;
}

#search-btn{
    border-radius: 50%;
}

/* Editing the cards section */
.cards-flex-container{
    display: flex;
    flex-flow: row wrap;
}


/* Editing the cards internal UI */
.profile-details{
    width: 100%;
}

.contact-card{
    padding: .6em;
    margin: 0 1em 2em 0;
    display: flex;
    width: 30rem;
    align-items: center;
    border: rgb(211 217 223) .01em solid;
    background-color: rgba(243, 241, 141, 0.3);
    border-radius: 1em;
    border-right-width: thick;
    border-bottom-width: thick;
    cursor: pointer;
}

.profile-picture-container{
    width: auto;
    margin-right: .7em;
}

.profile-picture{
    width: 8rem;
}

.profile-details div{
    max-width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionButtons i{
padding: 0 4px;
/* display: none; */
}

hr{
    margin-top: 0;
}

/* Creating pop up for create contact */
.close{
    align-self: center;
}

.form-row{
    margin-bottom: 1em!important;
}



/* Editing the Contact Table */
/* .table-head{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(135, 147, 248, 0.086);
}

.table-striped tbody tr:hover{
    background-color: rgb(127, 170, 250, 0.2);
} */